---
import ShoppingCart from '../components/shoppingCart';
import '../styles/global.scss';

---

<html>
  <head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../styles/global.scss">
  </head>
  <body>
    <div id="root">
      <ShoppingCart client:load />
    </div>
  </body>
</html>
